<a href="https://colab.research.google.com/github/Hefot-Ahmed/Pandas-Projects/blob/main/cities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = {
    'City': ['Brooklyn', 'Seoul', 'Barcelona'],
    'Country': ['US', 'South Korea', 'Spain'],
    'Population': [2617631, 9000000, 1730398],
}

df = pd.DataFrame(data)
print(df)

        City      Country  Population
0   Brooklyn           US     2617631
1      Seoul  South Korea     9000000
2  Barcelona        Spain     1730398